{% extends 'base.html.twig' %}
{% block title %}Desafio VOX :: Home{% endblock %}
{% block content %}
    <div class="p-5">
        {%  if is_granted('ROLE_ADMIN') %}
            <h1>Olá, {{ app.user.nome }}! </h1>
            <h1>Seja bem-vindo(a) ao cadastro de empresas e sócios.</h1>
        {% endif %}
        {%  if not is_granted('ROLE_ADMIN') %}
            <h1>Página de cadastramento e gerenciamento de empresas e sócios.</h1>
            <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">Entrar</a>
            <a href="{{ path('app_register')}}" class="btn btn-primary btn-sm">Criar nova conta</a>
        {% endif %}
    </div>
{% endblock %}