{% extends 'base.html.twig' %}

{% block title %}Cadastrar Usuáro{% endblock %}

{% block content %}
    <h1>Cadastrar Usuáro</h1>
    {{ form_errors(form) }}

    {{ form_start(form) }}
        {{ form_row(form.nome) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword, {
            label: 'Senha'
        }) }}
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    {{ form_end(form) }}
{% endblock %}
