{% extends 'base.html.twig' %}
{% block title %}Desafio VOX :: Lista Empresas{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="row">
            <div class="col-6">
                <h1>Lista de empresas</h1>
            </div>
            <div class="col-6 text-right">
                <a href="{{ path('app_empresa_cadastrar') }}" class="btn btn-primary">Cadastrar</a>
            </div>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="col-12">
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if empresas|length %}
                {% for empresa in empresas %}
                    <tr>
                        <th scope="row">{{ empresa.id }}</th>
                        <td>{{ empresa.cnpj ?? 'N/A' }}</td>
                        <td>{{ empresa.nome }}</td>
                        <td>{{ empresa.endereco }}, {{ empresa.cidade }}-{{ empresa.estado }}, CEP: {{ empresa.cep }}</td>
                        <td>
                            <a href="{{ path('app_empresa_visualizar', {id: empresa.id}) }}" class="btn btn-primary btn-sm">Visualizar</a>
                            <a href="{{ path('app_empresa_editar', {id: empresa.id}) }}" class="btn btn-primary btn-sm">Editar</a>
                            <a href="#!" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#empresa{{ empresa.id }}">Excluir</a>
                            <!-- Modal -->
                            <div class="modal fade" id="empresa{{ empresa.id }}" tabindex="-1" role="dialog" aria-labelledby="empresa{{ empresa.id }}Title" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Atenção</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Deseja remover a empresa "<b>{{ empresa.nome }}</b>" e todos os seus sócios?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <a href="{{path('app_empresa_excluir', {id: empresa.id}) }}" type="button" class="btn btn-primary">Confirmar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr class="text-center">
                    <th class="p-3" colspan="5">Ainda não existem Empresas cadastradas.</th>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}