{% extends 'base.html.twig' %}
{% block title %}Desafio VOX :: Visualizar empresas{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="row">
            <div class="col-6">
                <h1>Empresa</h1>
            </div>
            <div class="col-6 text-right">
                <a href="{{ path('app_empresa_listar') }}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><b>Nome:</b> {{ empresa.nome }} </p>
                <p><b>CNPJ:</b> {{ empresa.cnpj }} </p>
                <p><b>Endereço:</b> {{ empresa.endereco }}, {{ empresa.cidade }} - {{ empresa.estado }}, CEP: {{ empresa.cep }} </p>
                <h1>Sócios</h1>
                {% if socios|length %}
                    {% for socio in socios %}
                        <p><b>Nome:</b> {{ socio.nome }} </p>
                        <p><b>CPF:</b> {{ socio.cpf }} </p>
                        <hr/>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}