{% extends 'base.html.twig' %}
{% block title %}Desafio VOX :: Cadastro de sócios{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="row">
            <div class="col-6">
                <h1>Editar sócio</h1>
            </div>
            <div class="col-6 text-right">
                <a href="{{ path('app_socios_listar') }}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
        {{  form(form) }}
    </div>
{% endblock %}