{% extends 'base.html.twig' %}
{% block title %}Desafio VOX :: Lista de sócios{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="row">
            <div class="col-6">
                <h1>Lista de sócios</h1>
            </div>
            <div class="col-6 text-right">
                <a href="{{ path('app_socios_cadastrar') }}" class="btn btn-primary">Cadastrar</a>
            </div>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                <div class="col-12">
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
            {% endfor %}

        </div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">idEmpresa</th>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Sexo</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% if socios|length %}
                {% for socio in socios %}
                <tr>
                    <th scope="row">{{ socio.id }}</th>
                    <td>{{ socio.empresa }}</td>
                    <td>{{ socio.cpf }}</td>
                    <td>{{ socio.nome }}</td>
                    <td>{{socio.sexo}}</td>
                    <td>
                        <a href="{{ path('app_socios_visualizar', {id: socio.id}) }}" class="btn btn-primary btn-sm">Visualizar</a>
                        <a href="{{ path('app_socios_editar', {id: socio.id}) }}" class="btn btn-primary btn-sm">Editar</a>
                        <a href="#!" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#socio{{ socio.id }}">Excluir</a>
                        <!-- Modal -->
                        <div class="modal fade" id="socio{{ socio.id }}" tabindex="-1" role="dialog" aria-labelledby="socio{{ socio.id }}Title" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Atenção</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Deseja remover o sócio "<b>{{ socio.nome }}</b>" permanentemente?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <a href="{{path('app_socios_excluir', {id: socio.id}) }}" type="button" class="btn btn-primary">Confirmar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="text-center">
                    <th class="p-3" colspan="4">Ainda não existem sócios cadastrados.</th>
                </tr>
            {%  endif %}
            </tbody>
        </table>
    </div>
{% endblock %}