{% extends 'base.html.twig' %}
{% block title %}Desafio VOX :: Visualizar sócio{% endblock %}
{% block content %}
    <div class="p-5">
        <div class="row">
            <div class="col-6">
                <h1>Sócio</h1>
            </div>
            <div class="col-6 text-right">
                <a href="{{ path('app_socios_listar') }}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><b>Nome:</b> {{ socio.nome }} </p>
                <p><b>CPF:</b> {{ socio.cpf }} </p>
                <p><b>Sexo:</b> {{ socio.sexo }} </p>

                <h1>Empresa</h1>
                <p><b>Nome:</b> {{ empresa.nome }} </p>
                <p><b>CNPJ:</b> {{ empresa.cnpj }} </p>
                <p><b>Endereço:</b> {{ empresa.endereco }}, {{ empresa.cidade }} - {{ empresa.estado }}, CEP: {{ empresa.cep }} </p>
            </div>

        </div>
    </div>
{% endblock %}